<!DOCTYPE html>
<html xmlns:th="www.http://thymeleaf.org">
	<head>
		<title>Blog Deletion</title>
		<th:block th:replace="/fragments/head"/>
	</head>
	
	<body>
		<div th:replace="/fragments/navbar::navbarx"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1>Post has been deleted</h1>
						</div>
						<div class="panel-footer">
							<a th:href="@{/}">
								<button class="btn btn-success">Back To Home Page</button>
							</a>
							<a th:href="@{/blogposts/new}">
								<button class="btn btn-primary">Submit A New Blog Post</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:replace="/fragments/endbody"/>
	</body>
</html>